# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Stacked barcode images that oned/multiple_reader_test.go builds when it runs
/oned/testdata-multiple/*.png
